<!--
    Created by Chrissy Dobrowolski 
    
    CSCE 242- 001 
    
-->


<!DOCTYPE html>

<html>

    <head>

        <title>Custom Title</title>
        <link rel="stylesheet" href="styles.css">

    </head>

    <body>

        <div id="main-content">
            
            <h1>Main Heading</h1>

            <img src="https://place-hold.it/200x200" alt="Placeholder image">

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec lectus justo. Vestibulum at turpis interdum, ultricies dolor 
                eget, tempor tortor. Sed eu neque porta, iaculis urna sit amet, volutpat elit. In maximus arcu ac tellus venenatis rhoncus. 
                Donec ac dolor vel massa rutrum eleifend. Duis rutrum viverra cursus. Etiam vitae elit et urna lobortis dictum. Aliquam ut 
                ornare velit. Vivamus pulvinar facilisis vehicula. Nulla vehicula lobortis risus, eu placerat quam condimentum sed. Sed ut 
                nulla ac risus aliquam feugiat. Aliquam tincidunt tortor non magna scelerisque mollis. Duis non lobortis nunc. Nunc at velit 
                porta, aliquam augue eu, faucibus lorem. Proin elementum ex urna, at consectetur velit semper placerat. Curabitur ornare 
                malesuada tellus id convallis. Nunc cursus placerat diam nec accumsan. Praesent quis ex quis neque vestibulum aliquet. 
                Sed vitae erat sed quam ullamcorper venenatis. Donec dictum egestas nulla tempus eleifend. Sed a hendrerit justo. Ut 
                condimentum a ligula vel feugiat. Aliquam gravida, sem nec ultricies facilisis, leo neque pellentesque nunc, nec pellentesque 
                lacus dolor vitae quam. Aenean leo enim, interdum ac eros iaculis, cursus congue quam. Nunc magna nulla, sagittis et volutpat 
                ac, ultrices quis mi. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur mi ex, 
                tempor vitae dui in, efficitur vestibulum est. Aliquam ac enim semper, lobortis erat non, sollicitudin neque. Sed ut metus 
                non tortor semper ultrices ac nec diam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos 
                himenaeos. Etiam vel sagittis ligula. Donec et rutrum justo. Etiam pulvinar nisl tellus, at iaculis purus semper non. In 
                tempor ligula dolor, eget luctus sem laoreet ac. Fusce tincidunt sit amet sem non placerat. Sed elementum faucibus malesuada. 
                Vivamus vitae est sed dui pharetra porta quis in sem.
            </p>

        </div>

    </body>

</html>