body{
    font-family: Arial, Helvetica, sans-serif;
    background:lightgray
}

/* Structure */

#content {
    background: #fff;
    padding: 5px;
    width: 80%;
    margin: 5px;
    /* center horizontally */
    margin: auto;
    border-radius: 5px;
}


/* Typography */

h1 {
    color: darkslategray;
}


/* Copy styles.css into Jan 16 folder 