body
{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: url(images/night_sky_medium.jpg);
    
}


/* Structure: */

#main-content 
{
    background: #ecf1fb;
    color: #051326;
    padding: 2px;
    width: 100%;
    margin: 5px;

    /* Centers horizontally*/
    /* margin: auto; */

    border-radius: 10px;
    text-align: center;
}

/* 
img
{
    border-color: #ecf1fb;
    border-width: 5px;
}
*/

iframe
{
    display: block;
    margin: auto;
    text-align: center;
    width: 450px;
    height: 300px;
}


/* Navigation: */

#flex1-assignments-nav a,
#flex2-assignments-nav a,
#flex1-projects-nav a
{
    text-decoration: none;
    color: rgb(213, 125, 25);
}

#flex1-assignments-nav a:hover,
#flex2-assignments-nav a:hover,
#flex1-projects-nav a:hover
{
    color: #83408D;
}

.flex1-column1,
.flex1-column2,
.flex1-column3,
.flex2-column1,
.flex2-column2,
.flex2-column3
{
    background-color:#25325b;
    padding: 10px;
    margin: 6px;
    color:#ecf1fb;
}



/* Typography: */

h1 
{
    color: #201259;
    text-align: center;
}




/* Larger Resolutions: */ 
@media (min-width: 900px)
{
    #main-nav, 
    .flex1,
    .flex2
    {
        display: flex;
    }

    
    .flex1-column1,
    .flex1-column2,
    .flex1-column3
    {
        flex: 1;
    }

    .flex2-column1
    .flex2-column2,
    .flex2-column3
    {
        flex: 1;
    }

}


/* 

Resources: 
- https://color.adobe.com/search?q=Star%20Trek&t=term 
- https://color.adobe.com/search?q=galaxy 
- Wireframe resources: 
-- https://www.lipsum.com/feed/html

*/