body
{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: url(images/night_sky_medium.jpg);
    
}


/* Structure: */

#main-content 
{
    background: #ecf1fb;
    color: #051326;
    padding: 2px;
    width: 100%;
    margin: 5px;

    /* Centers horizontally*/
    /* margin: auto; */

    border-radius: 10px;
    text-align: center;

}


/* Navigation: */

#main-nav a 
{
    text-decoration: none;
    color: rgb(213, 125, 25)

}

#main-nav a:hover
{
    color: #83408D;

}

.column2
{
    background-color:#25325b;
    padding: 10px;
    margin: 6px;
    color:#ecf1fb;
}


/* Typography: */

h1 
{
    color: #201259;
    text-align: center;
}


/* Larger Resolutions */ 
@media (min-width: 900px)
{
    #main-nav .flex
    {
        display: flex;
    }

    #main-nav .column2
    {
        flex: 1;
    }
}


/* 
References: 
- https://color.adobe.com/search?q=Star%20Trek&t=term 
- https://color.adobe.com/search?q=galaxy 

*/