/*
    Created by Chrissy Dobrowolski 
    Assignment 11- Classes  
    CSCE 242- 001 
    Due: 3.1.2024 

*/


/* SMALLER RESOLUTIONS: */ 

:root
{
    --h1-color: #e9770c;
    --h2-color: #A6330A;
    --h3-color: #A6330A;
    --p-color: #401607;
    --main-background-color: #fff4d3;
    --main-column-background-color: #f5c944;

}

body
{
    font-family: Arial, Helvetica, sans-serif;
    background: var(--main-background-color);
}


/* - Structure: */

#main-content
{
    margin: 5px;

}

/* 
.expandedSwallowSection
{
    background-color: var(--main-column-background-color);

} 
*/


/* -- Main Content */ 

img
{
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.swallow-preview
{
    background-color: #dcbe91;
    padding: 10px;
    padding-bottom: 20px;
    margin: 20px;

}

.swallow-preview h3
{
    text-align: center;

}

#image-credits a 
{
    color: var(--h3-color);

}

#expanded-image
{
    padding: 10px;
    padding-right: 45px;

}


/* - Typography: */

h1 
{
    text-align: center;
    color: var(--h1-color);

}

h2
{
    text-align: center;
    color: var(--h2-color);
}

h3
{
    color: var(--h3-color);

}

p
{
    color: var(--p-color);

}


/* - Other: */ 

.hidden
{
    display: none;

}



/* LARGER RESOLUTIONS: */ 

@media (min-width: 900px)
{

    /* - Structure: */

    #swallow-container,
    #modal-content
    {
        display: flex;

    }

    .flex-columns
    {
        flex: 1;

    }


}