/*
    Created by Chrissy Dobrowolski 
    Assignment 8- Conditionals 
    CSCE 242- 001 
    Due: 2.11.2024 

*/

/* SMALLER RESOLUTIONS: */ 

:root
{
    --h1-color: #e9770c;
    --h2-color: #A6330A;
    --h3-color: #A6330A;
    --p-color: #401607;
    --nav-color: #486092;
    --nav-a-background-color: #e0d4fb;
    --background-color: #fff4d3;
    --main-column-background-color: #f5c944;

}

body
{
    font-family: Arial, Helvetica, sans-serif;
    background: var(--background-color);
}


/* - Structure: */

#main-content
{
    margin: 5px;

}


/* -- Nav: */

/* --- Exercise nav bar: */

#nav-exercise-1 a,
#nav-exercise-2 a
{
    text-decoration: none;
    color: var(--nav-color);
    
}

#nav-exercise-1 a:hover,
#nav-exercise-2 a:hover
{
    background-color: var(--nav-a-background-color);
}

#pipe-symbol
{
    display: none;
}


/* ---- Triangle toggle menu: */ 

.triangle-down
{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid var(--p-color);
    
}

.triangle-up
{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid var(--p-color);
    
}


/* --- Image credits nav: */

#images-credits a
{
    color: var(--nav-color);
}

#images-credits a:hover
{
    background-color: var(--nav-a-background-color);
}


/* -- Exercise content: */

#exercise-1-content,
#exercise-2-content
{
    background: var(--main-column-background-color);
    border: 1px solid var(--p-color);
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    
}

#exercise-1-content ul,
#images-credits p
{
    text-align: left;
    color: var(--p-color);
    
}

#exercise-2-content
{
    color: var(--p-color);
}


input
{
    width: 200px;
    /* border-color: black; */
}

img
{
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Slider: */ 

.slider-class
{
    width: 100%;
    background: #f7faf1;
    -webkit-appearance: none;
    opacity: 0.8;
    
}

.slider-class:hover
{
    opacity: 1;
    cursor: pointer;
}

.slider-class::-webkit-slider-thumb
{
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    background: var(--p-color);
}


/* - Typography: */

h1 
{
    text-align: center;
    color: var(--h1-color);

}

h2
{
    text-align: center;
    color: var(--h2-color);
}

h3
{
    text-align: center;
    color: var(--h3-color);
}

p
{
    text-align: center;
    color: var(--p-color);
}


/* - Other: */ 

.hidden
{
    display: none;
}


/* Larger Resolutions: */ 

@media (min-width: 900px)
{

    /* - Structure: */

    #main-content
    {
        text-align: center;

    }


    /* -- Exercise content: */

    #exercise-1-content
    {
        width: 300px;
        height: 500px;
        
    }

    #exercise-2-content
    {
        width: 300px;
        height: 300px;
        
    }


    /* -- Nav: */

    /* --- Exercise nav bar: */

    #nav-exercise-1,
    #nav-exercise-2
    {
        display: inline;
        text-align: center;

    }

    #pipe-symbol
    {
        display: inline;
        color: var(--nav-color);
    }


    /* ---- Triangle toggle menu: */ 

    .triangle-down,
    .triangle-up
    {
        display: none;
        
    }

}