/*
    Created by Chrissy Dobrowolski 
    Class Example 
    1.30.2024 
    CSCE 242- 001 

*/

body
{
    font-family: Arial, Helvetica, sans-serif;
    background:lightgray
}


/* Structure */

#main-content 
{
    background: #fff;
    padding: 5px;
    width: 80%;
    margin: 5px;

    /* Centers horizontally */
    margin: auto;

    border-radius: 5px;
}

#blueberries
{
    max-width: 20%;
}

.hidden
{
    display: none;
}




/* Typography */

h1 
{
    color: darkslategray;
}

.special
{
    background: lightpink;
    size: 2em;
    color: magenta;
    border: 2px dotted magenta;
}