/*
    Created by Chrissy Dobrowolski 
    Class Example 
    2.1.2024 
    CSCE 242- 001 
*/


:root
{
    /*: --> By default */ 
    --square-top: 0px;
    --ball-color: skyblue;
}


body
{
    font-family: Arial, Helvetica, sans-serif;
    background:lightgray
}


/* Structure: */

#main-content 
{
    background: #fff;
    padding: 5px;
    width: 80%;
    margin: 5px;

    /* Centers horizontally */
    margin: auto;

    border-radius: 5px;
}

#square
{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    position: relative;

    /* FOR TESTING: */ 
    /*- top: 200px; */

    top: var(--square-top);

}

.circle
{
    /* background: deeppink; */
    background: var(--ball-color);
    width: 25px;
    height: 25px;
    border-radius: 25px;

}


.rainbow
{
    animation-name: colorAnim;
    animation-duration: 4s;
}

@keyframes colorAnim
{

    0% 
    {
        background-color: red;
    }

    20% 
    {
        background-color: yellow;
    }

    40% 
    {
        background-color: purple;
    }
    
    60% 
    {
        background-color: blue;
    }

    80% 
    {
        background-color: green;
    }

}

/* Typography: */

h1 
{
    color: darkslategray;
}
