/*
    Created by Chrissy Dobrowolski 
    Assignment 10- Arrays 
    CSCE 242- 001 
    Due: 2.24.2024 

*/


/* SMALLER RESOLUTIONS: */ 

:root
{
    --h1-color: #e9770c;
    --h2-color: #A6330A;
    --h3-color: #A6330A;
    --p-color: #401607;
    --main-background-color: #fff4d3;
    --main-column-background-color: #f5c944;

}

body
{
    font-family: Arial, Helvetica, sans-serif;
    background: var(--main-background-color);
}


/* - Structure: */

#main-content
{
    margin: 5px;

}


/* -- Parts 1 & 2 Content: */

#parts-1-2
{
    background: var(--main-column-background-color);
    border: 1px solid var(--p-color);
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    
}

img
{
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#part-2-images-nav a
{
    color: var(--p-color);

}






/* - Typography: */

h1 
{
    text-align: center;
    color: var(--h1-color);

}

h2
{
    text-align: center;
    color: var(--h2-color);
}

h3
{
    text-align: center;
    color: var(--h3-color);
}

p
{
    text-align: center;
    color: var(--p-color);
}


/* - Other: */ 

.hidden
{
    display: none;

}

