/*
    Created by Chrissy Dobrowolski 
    Assignment 5- Recreate CSS Page 
    CSCE 242- 001 
    Due 1.28.2024 

*/


/* Body: */

body
{
    font-family: Arial, Helvetica, sans-serif;
    background:#FFFFFF;
}



/* Structure: */

#main-content 
{
    background: #FFFFFF;
    
}

#top-sec-black
{
    padding: 0px;
    margin: auto;
}

#top-sec-black-nav
{
    text-align: right;
    word-spacing: 5px;
    padding-top: 1px;
    padding-right: 2px;
}

#top-sec-black-nav a
{
    text-decoration: none;
    color: #FFFFFF;
}

#top-sec-black-nav a:hover
{
    background: #CC2E40;
}

#top-sec-red
{
    padding: 0px;
    margin: auto;
}

/*- Nav for USC icons: */ 

#icon-nav-top
{
    padding-left: 10px;
    padding-bottom: 10px;
}

#icon-nav-bottom
{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}


#main-header
{
    background-color: #000000;
    color: #FFFFFF;
    
    /* 
    padding: 0px;
    margin: 0px;
    */
}

#main-footer
{
    background-color: #73000A;
    color: #FFFFFF;
}

/* 
#aside
{
    float: right;
    padding: 30px;
    margin-left: 5px;
    margin-right: 5px;
}
*/ 

#main-title 
{
    /* border: 1px solid #73000A; */
    background-color: #73000A;
    padding: 1px;
    padding-left: 5px;
}

#main-title a
{
    color: #FFFFFF;
    text-decoration: none;

    /* margin-top: 0%; */
}

#main-sec-title-nav a
{
    color: #73000A;
}



/* Left navigation bar: */

#left-nav-bar li
{
    list-style-type: none;
    border-top: 1px solid #C7C7C7;
    padding-top: 10px;
    /* padding-left: 150px; */
    padding-bottom: 10px;

}

#left-nav-bar a
{
    text-decoration: none;
    color: #000000;
}

#left-nav-bar a:hover
{
    background: #CC2E40;
    color: #FFFFFF;
}

img
{
    max-width: 100%;
    height: auto;
}



/* Department Highlights section of main content: */

#main-sec-highlights
{
    border-top: 1px solid #C7C7C7;
    border-bottom: 1px solid #C7C7C7;
    
}


/* - Department Highlights image-text flex: */ 

.highlights-1-col1of2
{
    flex: 1;
    padding-top: 20px;
}
.highlights-1-col2of2
{
    flex: 4;
    padding-left: 10px;
}

.highlights-2-col1of2
{
    flex: 1;
    padding-top: 20px;
}
.highlights-2-col2of2
{
    flex: 4;
    padding-left: 10px;
}

.highlights-3-col1of2
{
    flex: 1;
    padding-top: 20px;
}
.highlights-3-col2of2
{
    flex: 4;
    padding-left: 10px;
}

.highlights-4-col1of2
{
    flex: 1;
    padding-top: 20px;
}
.highlights-4-col2of2
{
    flex: 4;
    padding-left: 10px;
}

.highlights-5-col1of2
{
    flex: 1;
    padding-top: 20px;
}
.highlights-5-col2of2
{
    flex: 4;
    padding-left: 10px;
}



/* Glance section of main content: */

#main-sec-glance
{
    border-top: 1px solid #C7C7C7;
    border-bottom: 1px solid #C7C7C7;
    border-left: 5px solid #73000A;
    border-right: 1px solid #C7C7C7;
    margin-top: 30px;
    padding: 5px;
}

#main-sec-glance h1
{
    color: #73000A;
}


/* Give section of main content: */

#main-sec-give
{
    background-color: #ECECEC;
    border-left: 5px solid #73000A;
    margin-top: 15px;
    padding: 5px;
}


#main-sec-give-nav a
{
    text-decoration: none;
    color: #73000A;
}

#main-sec-give-nav a:hover
{
    background: #CC2E40;
    color: #FFFFFF;
}




/* Grey section of main content: */

#main-sec-grey
{
    background-color: #ECECEC;
    color: #000000;
    margin-top: 140px;
}

.main-sec-grey-col1of2 h3
{
    color: #000000;
}

#main-sec-grey-nav
{
    word-spacing: 5px;
}

#main-sec-grey-nav a
{
    text-decoration: none;
    color: #000000;
}

#main-sec-grey-nav a:hover
{
    background: #CC2E40;
    color: #FFFFFF;
    /* padding: 2px; */
}



/* Red section of footer: */

#foot-sec-red
{
    border-bottom: 1px solid #C7C7C7;
    padding: 0px;
    margin-bottom: 0%;
}

#foot-sec-red p
{
    padding-left: 40px;
    
}

#foot-sec-red-nav li
{
    list-style-type: none;
    padding-bottom: 10px;
    
}

#foot-sec-red-nav a
{
    text-decoration: none;
    color: #FFFFFF;
}

#foot-sec-red-nav a:hover
{
    background: #CC2E40;
    /* padding: 2px; */
}



/* Black section of footer: */

#foot-sec-black
{
    background-color: #000000;
    padding: 5px;
    text-align: center;
    /* padding-left: 180px; */
}

#bottom-nav a
{
    color: #FFFFFF;
    text-decoration: none;

}

#bottom-nav a:hover
{
    background: #CC2E40;
    /* padding: 2px; */
}



/* Typography: */

h2
{
    color: #73000A;
}

h3
{
    color: #73000A;
}



/* Flex: */

.footer-col1of3,
.footer-col2of3,
.highlights-flex-container,
/* #main-sec-give, */
.main-sec-grey-col1of2,
.main-sec-grey-col2of2
{
    display: flex;
}

/* - Nav-Footer content flex: */ 

.footer-cs-col2of3
{
    padding-top: 50px;
}

.footer-cs-col3of3
{
    padding-top: 50px;
}

.footer-od-col2of2
{
    padding-top: 50px;
}


/* 
.main-sec-give-col2of2
{
    flex: 1;
    text-align: right;
}

.main-sec-give-col1of2
{
    flex: 1;
    text-align: left;
}
*/ 



/* For Larger Resolutions: */

@media (min-width: 900px)
{

    .flex-container, 
    #foot-sec-red-nav,
    #main-sec-grey
    {
        display: flex;
    }

    /* Main content flex: */

    .main-col1of2
    {
        /* flex: 50%; */
        flex: 2;
        padding-right: 30px;
    }

    .main-col2of2
    {
        /* flex: 100%; */ 
        flex: 1;
        padding-right: 180px;
    }


    /* Nav-Main content flex: */

    .nav-main-col1of2
    {
        flex: 1.25;
        padding-top: 30px;
    }

    .nav-main-col2of2
    {
        flex: 3;
        padding-top: 45px;
        padding-left: 30px;
    }


    /*- Top navigation bar with black background: */ 

    #top-sec-black-nav
    {
        padding-right: 180px;
    }
    
    
    
    /*- Nav for USC icons: */ 

    #icon-nav-top
    {
        padding-left: 180px;
        padding-top: 5px;
    }

    #icon-nav-bottom
    {
        text-align: left;
        padding-left: 180px;
        padding-bottom: 10px;
    }


    img
    {
        max-width: 100%;
        height: auto;
    }


    #main-title 
    {
        padding-left: 180px;
    }


    /* - Department Highlights image-text flex: */ 

    #main-sec-title
    {
        padding-right: 180px;
    }

    
    /* 
    .highlights-1-col2of2
    {
        padding-left: 0px;
    }

    .highlights-2-col2of2
    {
        padding-left: 0px;
    }

    .highlights-3-col2of2
    {
        padding-left: 0px;
    }

    .highlights-4-col2of2
    {
        padding-left: 0px;
    }

    .highlights-5-col2of2
    {
        padding-left: 0px;
        padding-bottom: 10px;
    }
    */ 


    /* Left navigation bar: */

    #left-nav-bar li
    {
        padding-left: 150px;
    }


    /* Nav-Footer content flex */ 

    .footer-col1of3
    {
        flex: 3;
    }

    /* 
    .footer-cs-col1of3
    {
        padding-top: __;
    }
    */ 

    .footer-col2of3
    {
        flex: 2;
    }

    .footer-od-col2of2
    {
        padding-top: 50px;
    }


    .footer-col3of3
    {
        flex: 1;
        padding-right: 180px;
    }


    /* 
    
    .footer-cs-col1of2
    {
        flex: 1;
    }

    .footer-cs-col2of2
    {
        flex: 1;
    }

    */ 


    /* Grey section of main content: */

    #main-sec-grey
    {
        padding-left: 180px;
    }

    .main-sec-grey-col1of2
    {
        flex: 2;
    }
    .main-sec-grey-col2of2
    {
        flex: 1;
    }

    /* Red section of footer: */

    #foot-sec-red
    {
        padding-left: 180px;
    }


    /* Black section of footer: */

    #foot-sec-black
    {
        text-align: left;
        padding-left: 180px;
    }

    
}