/* 
    Created by Chrissy Dobrowolski 
    Semester Project Part 2: Wireframes 
    CSCE 242- 001 
    Due 1.28.2024 
*/ 

iframe
{
    display: block;
    margin: auto;
    text-align: center;
    width: 1200px;
    height: 900px;
}