/*
    Created by Chrissy Dobrowolski 
    Assignment 1- Basic CSS (Assignment 2 Page) 
    CSCE 242- 001 
    Due 1.18.2024 
*/

body
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background:#4D6173;
}


/* Structure: */

#content 
{
    background: #f9f2e4;
    color: #2A3340;
    padding: 9px;
    width: 90%;
    margin: 10px;

    /* Centers horizontally */
    margin: auto;

    border-radius: 8px;
    text-align: center;
}

#main-nav a
{
    text-decoration: none;
    background: #4D6173;
    color: #f9f2e4;
    padding: 4px;
    border-radius: 3px;
}

#main-nav a:hover
{
    background: #a2d1d8;
    padding: 4px;
    border-radius: 3px;
}

#extra-nav a
{
    text-decoration: none;
    color: #21909a;
}

#extra-nav a:hover
{
    background: #a2d1d8;
    padding: 4px;
    border-radius: 3px;
}


table, 
th, 
td
{
    border: 1px solid #4D6173;
    padding: 5px;

    /* Centers the table */
    margin-left: auto;
    margin-right: auto;
}

tr:nth-child(even)
{
    background-color: #deceaf;
}


/* Typography: */

h1 
{
    color: #2A3340;
    text-align: center;
}


/* Columns: */

.columns
{
    display: flex;
}

.columns section
{
    padding: 7px;
    margin: 7px;
}


.one
{
    flex: 1;
}


.columns img
{
    max-width: 80%;
    display: block;
    margin: auto;
}



/* 
    Resources: 
    - https://color.adobe.com/search?q=mockingbird 
    - https://www.w3schools.com/html/html_table_styling.asp 
    - https://www.w3schools.com/howto/howto_css_table_center.asp
    - https://www.w3schools.com/html/html_table_sizes.asp
    - https://color.adobe.com/search?q=galaxy 

/* 